<%include ../partials/header %>
<!--  this is for relative directory to other files-->

<div class="container">
  <div class="col">
    <h1 style="text-align:center;">Edit <%=  campground.name%></h1>
    <div style="width: 30%; margin: 0 auto;">
        <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="post">
          <!--  above is for url that is used for making http request -->
          <div class="form-group">
            <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" />
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>" />
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>" />
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
          </div>
        </form>
        <a href="/campgrounds">Go back</a>

    </div>
  </div>
</div>
<%include ../partials/footer %>
